body{ 
            font-family:sans-serif;
            color:red;
            background-color:rgb(194, 170, 179);
           }
.sidearea {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidearea a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidearea a:hover {
    color: #f1f1f1;
}

.keyyamain {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidearea {padding-top: 15px;}
    .sidearea a {font-size: 18px;}
}

h2{
               font-family:cursive;
               color:blue;
               background-color:rgb(186, 169, 186);
               }
              #blog-first{
                  color:purple;
                  font-size:20px;
                  
                  
              } 
              h6{
                  color:black;
              }
              h1{
                  text-align:center;
                  
    
              }
               .biryani-party {
             background-color:rgb(240, 175, 240);
             font-family:cursive;
             font-style:italic;
               }
             .biography  {
             background-color:rgb(230, 155, 240);
             font-family:cursive;
             font-style:italic;
               }

               .lifeamsterdam {
             background-color:rgb(230, 185, 210);
             font-family:cursive;
             font-style:italic;
               }

               .firstexperience {
             background-color:rgb(250, 155, 220);
             font-family:cursive;
             font-style:italic;
               }


               h1{
                   background-color:rgb(227, 189, 227);
               }
               p {
                   background-color:rgb(27, 189, 227);
               }
               h3{
                   background-color:rgb(227, 182, 227);
               }
