.body{
    background-color:rgb(158, 170, 185);
  }
  .tabletxt1{
     border:1px solid black;
    width:100%;
    
  }
  .profile{
   width:100%;
    text-align:center;
  }
  .cvpic{
      width:140px;
      height:150px;
      padding-left: 50px;
      margin: auto;
      float:left
     
  }
  .firsttable{
     background-color:rgb(224, 229, 235);
    
  }
  .secondtableall{
    border:1px solid black;
     background-color:rgb(224, 229, 235);
     padding-left: 50px;
  }
  .txt{
    background-color:rgb(158, 170, 185);
    margin-left: 0px;
    padding-right: 50px;
    display: inline;
    padding-left: 50px;
     
  }